:root {
    --clr-bg: #17141d ;
}


body {
    font-family: 'DM Mono', monospace;
    padding: 0;
    margin: 0;
    background-color: var(--clr-bg) ;
    color: white;
}

.card-section {
    display: flex;
    padding: 3rem;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 350px;
    width: 400px;
    max-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background: var(--clr-bg);
    box-shadow: -1rem 0 3rem #000;
    transition: .2s;
}

.card:hover {
    transform: translateY(-1rem);
}

.card:hover~.card {  /* esto selecciona todos los hijos despues del hovered */
    transform: translateX(130px);
}

.card:not(:first-child) { /* selecciona todos menos el primer hijo */
    margin-left: -130px;
}

.card-author {
    position: relative;
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
    margin: 3rem 0 0;
}

.author-avatar img {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    filter: grayscale(100%);
    overflow: hidden;
    margin: 16px 10px;
}

.semi-circle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 48px;
    fill: none;
    stroke: #ff8400;
    stroke-width: 8;
    stroke-linecap: round;
}

.author-name-prefix {
    font-style: normal;
    font-weight: 700;
    color: #7a7a8c;
}

.card-header h2:hover {
    background: linear-gradient(90deg, #ff8a00, #e52e71);
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tags {
    margin: 1rem 0 2rem;
    padding: .5rem 0 1rem;
    line-height: 2;
    margin-bottom: 0;
}

.tags a {
    text-decoration: none;
    border: #7a7a8c 3px solid;
    border-radius: 30px;
    color: white;
    padding-top: .125rem;
    padding-bottom: .125rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-style: normal;
    font-weight: 700;
    font-size: .66rem;
    text-transform: uppercase;
    position: relative;
}

.tags a:hover {
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    border-color: #7a7a8c;
    
}

.tittle {
    padding-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tittle h3 {
    background: linear-gradient(90deg, #ff8a00, #e52e71);
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}