<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap" rel="stylesheet">

    <title>Layout page</title>
</head>
<body>
    <header class="bg-light text-center">
        <div class="container container-narrow">
            <p>Lorem, ipsum dolor.</p>
            <h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h1>
        </div>
    </header>

    <section class="text-center bg-primary">
        <div class="container">
            <h2>Quality Design</h2>
        <div class="slipt">
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae modi aliquam error nemo? Facilis exercitationem iusto suscipit porro? Voluptates ipsam quaerat temporibus accusantium esse ea.</p>
            </div>
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis velit labore non quasi saepe, nam architecto corporis tenetur praesentium voluptate, et excepturi, fugit id. Eaque.</p>
            </div>
        </div>
        </div>
    </section>

    <section class="bg-dark">
        <div class="container">
            <div class="split">
                <div>
                    <h2>Made Custom for you</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo recusandae asperiores nesciunt fugit illum nisi?</p>
                </div>
                <div>
                    <img src="https://images.unsplash.com/photo-1504909177259-7a4a3d7e969e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="landscape">
                </div>
            </div>
        </div>
    </section>

    <section class="bg-accent">
        <div class="container">
            <div class="split">
                <div>
                    <img src="https://images.unsplash.com/photo-1609932937042-56e6bdd7a41b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="air ballons">
                </div>
                <div>
                    <h2>Created with care</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo recusandae asperiores nesciunt fugit illum nisi?</p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>