<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="layout.css">

    <title>Layout</title>
</head>
<body>
    <div class="title"><h1>Css Grid</h1></div>
    <div class="container">
        <header>
            <a class="logo" href="">Logo</a>
        </header>
        <div class="aside-section">
            <section class="section-left">
                <div class="aside-border">
                    <div class="card">
                        <div class="card-title"><h2>Title</h2></div>
                        <div class="card-text">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt animi expedita possimus ipsam quae odit distinctio magni, ad repudiandae iusto!</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, maxime?</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, inventore.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-title"><h2>Title</h2></div>
                        <div class="card-text">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, odio tempora iusto repellendus ea veritatis tenetur nostrum porro similique dolore?</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, maxime?</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, inventore.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-title"><h2>Title</h2></div>
                        <div class="card-text">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores eius sunt id perferendis ullam sed, ab voluptatum sapiente labore reiciendis.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, maxime?</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, inventore.</p>
                        </div>
                    </div>
                </div>
              
            </section>

            <section class="section-right">
                <div class="aside-border">
                    <div class="image-container">
                        <img src="https://images.unsplash.com/photo-1469334031218-e382a71b716b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque, rem?</p>
                    </div>
                    <div class="image-container">
                        <img src="https://images.unsplash.com/photo-1586902197503-e71026292412?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=752&q=80" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque, rem?</p>
                    </div>
                    <div class="image-container">
                        <img src="https://images.unsplash.com/photo-1490750967868-88aa4486c946?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque, rem?</p>
                    </div>
                </div>
            </section>
        </div>
        <section class="cards-section">
            <div class="small-card"><p>Another post</p></div>
            <div class="small-card"><p>Another post</p></div>
            <div class="small-card"><p>Another post</p></div>
            <div class="small-card"><p>Another post</p></div>
            <div class="small-card"><p>Another post</p></div>
        </section>

        <footer>
            <h2>Footer</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, voluptatem?</p>
        </footer>
    </div>
</body>
</html>