<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="layout2.css">
    <title>Document</title>
</head>
<body>
    <main class="container">
        <header>
            <a href="">Logo</a>
        </header>
        <section class="section-main">
            <div class="article">
                <h2>Title</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, dignissimos.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, dignissimos.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, dignissimos.</p>
            </div>
            <div class="article">
                <h2>Title</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, dignissimos.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, dignissimos.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, dignissimos.</p>
            </div>
            <div class="article">
                <h2>Title</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, dignissimos.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, dignissimos.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, dignissimos.</p>
            </div>
        </section>
        <aside>
            <div class="article-image">
                <img src="" alt="">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, fugiat.</p>
            </div>
            <div class="article-image">
                <img src="" alt="">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, fugiat.</p>
            </div>
            <div class="article-image">
                <img src="" alt="">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, fugiat.</p>
            </div>
        </aside>
        <section class="section-cards">
            <div class="cards">Another post</div>
            <div class="cards">Another post</div>
            <div class="cards">Another post</div>
            <div class="cards">Another post</div>
            <div class="cards">Another post</div>
        </section>
        <footer>
            <h2>Footer</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti, adipisci!</p>
        </footer>
    </main>
</body>
</html>